*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#header{
    font-family: 'Trebuchet MS', sans-serif;
    padding: auto;
}
.navigation_bar{
    background-color: #333;
    text-align: center;
}
.nav{
    list-style-type: none;
    margin-left: 36%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
 /*Note: This is one of the only ways I found to make a heading. TODO: Make it look similar to the wireframing
 but this will work for now.*/
#navbox{
    float: left;
}
  
#navbox a{
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbox a b{
    background-color: #111;
}
#navbox a:hover{
    background-color: #111;
    cursor: pointer;
}
.selectednav{
    background-color: #111;
}
div{ 
    background-color: rgba(27, 204, 228, 0.5);
    border-width: 2px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
.gallery{
    width: 100%;
}
.logo{
    height: 2%;
    width: 4%;
    padding: 5px;
    margin: 5px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    text-align: center;
    margin-top: 350px;
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: blue;
    background-image: url(/Images/Fireworks3.jpg);
}
.bottom1{
    background-color: rgb(27, 205, 228);
}
.bottomheader{
    font-family: fantasy;
}
.box_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: rgb(49, 19, 161);
    margin: 40px;
    padding: 20px;
    height: 700px;
    width: 700px;
    /* overflow: auto; (If Paragraph is too long)*/
    border-style: outset;
    border-width: 20px;
    border-color: rgba(49, 19, 161, 0.47);
}
.boximages{
    width: 100%;
    height: 50%;
}
.boxheader{
    text-align: center;
    font-size: 40px;
    color: gold;
}
.boxpara{
    text-align: center;
    font-size: 17px;
    color: yellow;
}
.boxbutton{
    background-color: rgb(0, 0, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    border-style: solid;
}
.boxbuttonheader{
    color: yellow;
    font-size: 20px;
    padding: 0;
}

h2{
    color:white;
    font-size: 12px;
    text-align: center;
}