*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}#header{
    font-family: 'Trebuchet MS', sans-serif;
    padding: auto;
}
.swiper{
    width:fit-content;
    height:fit-content;
}
.swiper-slide img{
    width:fit-content;
    align-items:flex-start;
}
.navigation_bar{
    background-color: #333;
    text-align: center;
}
.nav{
    list-style-type: none;
    margin-left: 36%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}#navbox{
    float: left;
}

h1.caption1{
    color:aliceblue;
    text-size-adjust: 300px;
}

.container{
    height:100vh;
    width:100%;
    background:#255;
    display:flex;
}
div{ 
    background-color: rgba(27, 204, 228, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-width: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
#navbox a{
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbox a b{
    background-color: #111;
}
#navbox a:hover{
    background-color: #111;
    cursor: pointer;
}
.selectednav{
    background-color: #111;
}

.logo{
    height: 2%;
    width: 4%;
    padding: 5px;
    margin: 5px;
}
body{
    background-color:rgba(27, 204, 228, 0.5);
    background-size:100%
}

.box_container{
    display:flex;
    justify-content:safe center;
    align-items: center;

}
.box{
    background-color: rgb(49, 19, 161);
    margin: 40px;
    padding: 20px;
    height: 2000px;
    width: 2000px;
    border-style: outset;
    border-width: 20px;
    border-color: rgba(49, 19, 161, 0.47);

}
.boximages{
    width: 100%;
    height: 50%;
}
.boxheader{
    text-align: center;
    font-size: 40px;
    color: pink
}
.boxpara{
    text-align: center;
    font-size: 30px;
    color: white;
}
.boxbutton{
    background-color: rgb(0, 0, 91);
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 200px;
    border-style: solid;
    width: 1900px;
    height:fit-content;
}
.boxbuttonheader{
    color: yellow;
    font-size: 20px;
    padding: 0;
    text-align: center;
}
h1{
    text-align: center;
    text-size-adjust: 50px;
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif
}
h4{
    text-align: center;
    text-size-adjust: 50px;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.wrapper {vertical-align:top; }
body{
    width: auto;
    overflow:inherit;
}

h2{
    color:white;
    font-size: 12px;
    text-align: center;
}