*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.navigation_bar{
    background-color: #333;
    text-align: center;
}
.nav{
    list-style-type: none;
    margin-left: 36%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#navbox{
    float: left;
}
  
#navbox a{
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbox a:hover{
    background-color: #111;
    cursor: pointer;
}
.selectednav{
    background-color: #111;
}
.gallery{
    width: 100%;
}
.logo{
    height: 5%;
    width: 5%;
    padding: 5px;
    margin: 0;
}
.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
#mainbox{
    position: absolute;
    margin: 50px;
    padding: 50px;

    background-color: rgba(173, 207, 212, 0.2);
}

.container2{
    display: grid;
    grid-template-columns: 190px 100px 180px 110px 180px 100px 180px 100px 100px;
    column-gap: 10px;
    background-color: rgba(173, 207, 212, 0.2);
}
    

/* width: 1344px;
border: 3px solid rgb(0, 255, 208);
object-position:left;
padding: 10px;
min-height: 40;
background-color: rgb(95, 169, 169); */


.container2 > div{
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    font-weight: 10%;
    color:rgb(40, 46, 44);
}


img.MerchLogo{
    background: transparent;
    border: 5px transparent rgb(5, 159, 237);
    border-radius: 1px;
    max-width: 100%;
}

img.option2 {
    background: transparent;
    border: 5px solid rgba(116, 141, 153, 0.2);
    border-radius: 5px;
    max-width: 80%;
    
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 100px;
    text-decoration: underline;
    color: rgb(0, 255, 213);
}

h3{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 10px;
    color:antiquewhite;
    text-decoration:overline;
    font-size: 50px;
    font-style: italic;
}

h4{
    color: rgb(0, 255, 213);
}

#lorem{
    color: white;
    font-size: 12px;
    font-family: fantasy;
}

body{
    background-image:url(/Images/bg1.jpg);    
    background-size: 100%;
    background-repeat: auto;
}

.container3{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    
    column-gap: 60px;
    row-gap:50px;
    padding: 10px;
    min-height: 40;
    background-color: rgb(255, 255, 255);
    background-size: 100%;
}

.container3 > div{
    background-color: rgba(104, 30, 30, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

    border-radius: 15px;
}


#mapbox{
    position: absolute;
    margin: 50px;
    padding: 50px;

    
}

img.location{
    border: 5px solid rgba(116, 141, 153, 0.2);
    background-color: aquamarine;
    background-size: 100%;
    border-radius: 15px;
}

label{
    font-size:20px;
    color: wheat;
}

.button{
    text-align: center;
    border: #333;
}

h2.credit{
    font-size: 12px;
    color: grey;
    text-align: center;
}